body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.feed {
    background-color: #DDEBDD;
    height: 35px;
    width: 360px;
    text-align: center;
    margin: auto;
    padding-top: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding-bottom: 5px;
}
.feedpage {
    background-color: #B5C5C3;
    height: 900px;
    width: 50%;
    position: absolute;
    overflow:auto;
    padding-top:5px;
    padding-bottom:5px;
 }
.form {
    margin: auto;
    width: 80%;
    border: 3px solid black;
    padding: 10px;
}
.upload {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 400px;
    height: 200px;
    background-color: #B5C5C3;
    position: absolute;
}
.select {
    height: 30PX;
    width: 75PX;
    border-radius: 10%;
    background-color: #DDEBDD;
}
      
